@utility surface-2 {
  background: var(--surface-bg);
  backdrop-filter: var(--surface-blur);
  color: var(--surface-text);
  /* prettier-ignore */
  box-shadow:
    0 0 0 1px var(--surface-border),
    inset 1px 1px 0 0 var(--surface-edge),
    inset 0 1px 0 0 var(--surface-highlight),
    inset -1px -1px 0 0 var(--surface-inner-shadow),
    0 1px 1px var(--surface-shadow),
    0 2px 2px var(--surface-shadow),
    0 4px 4px var(--surface-shadow),
    0 8px 8px var(--surface-shadow),
    0 16px 16px var(--surface-shadow);
}

@utility surface-bg-* {
  --surface-bg: --value(--color- *);
  --surface-bg: --value([ *]);
}

@utility surface-blur-* {
  --surface-blur: --value(--blur- *);
  --surface-blur: --value([ *]);
}

@utility surface-border-* {
  --surface-border: --value(--color- *);
  --surface-border: --value([ *]);
}

@utility surface-edge-* {
  --surface-edge: --value(--color- *);
  --surface-edge: --value([ *]);
}

@utility surface-highlight-* {
  --surface-highlight: --value(--color- *);
  --surface-highlight: --value([ *]);
}

@utility surface-inner-shadow-* {
  --surface-inner-shadow: --value(--color- *);
  --surface-inner-shadow: --value([ *]);
}

@utility surface-shadow-* {
  --surface-shadow: --value(--color- *);
  --surface-shadow: --value([ *]);
}

@utility surface-text-* {
  --surface-text: --value(--color- *);
  --surface-text: --value([ *]);
}
