@import 'tailwindcss';

@theme {
  --font-mono: var(--font-mono), monospace;
  --font-sans: var(--font-sans), sans-serif;
  
  --color-oatmeal-50:  oklch(0.97 0.01 87);    
  --color-oatmeal-100: oklch(0.923 0.026 87);
  --color-oatmeal-200: oklch(0.86 0.035 87);
  --color-oatmeal-300: oklch(0.78 0.05 87);
  --color-oatmeal-400: oklch(0.70 0.07 87);
  --color-oatmeal-500: oklch(0.62 0.09 87);
  --color-oatmeal-600: oklch(0.53 0.09 87);
  --color-oatmeal-700: oklch(0.44 0.08 87);
  --color-oatmeal-800: oklch(0.35 0.065 87);
  --color-oatmeal-900: oklch(0.27 0.05 87);
  --color-oatmeal-950: oklch(0.18 0.035 87);

}
