:root {
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-gray-300: oklch(0.869 0.005 252.37);

  --shadow-elevation-raised:
    0 0.5px 1px oklch(from var(--shadow-elevation-color, #000) l c h / 1),
    0 1px 2px oklch(from var(--shadow-elevation-color, #000) l c h / 0.06);

  --shadow-elevation-overlay:
    0 1px 2px oklch(from var(--shadow-elevation-color, #000) l c h / 0.12),
    0 2px 4px oklch(from var(--shadow-elevation-color, #000) l c h / 0.8),
    0 4px 8px oklch(from var(--shadow-elevation-color, #000) l c h / 0.08);
}

.ui-card {
  display: grid;
  place-items: center;
  aspect-ratio: 16 / 9;
  height: 44px;
  border-radius: 12px;

  border: 1px solid var(--color-gray-300);
  background-color: #fff;

  box-shadow: var(--ui-box-shadow, var(--shadow-elevation-raised)); /* [!code highlight] */
}

.ui-elevation-raised {
  --ui-box-shadow: var(--shadow-elevation-raised);
}

.ui-elevation-overlay {
  --ui-box-shadow: var(--shadow-elevation-overlay);
}

.ui-state-error {
  --shadow-elevation-color: var(--color-red-500);
  border-color: var(--color-red-500);
  background-color: oklch(from var(--color-red-500) l c h / 0.05);
}
