@layer components {
  .prose {
    font-family: var(--font-body);
    color: var(--color-text-body);
    line-height: 1.75;
    /* Scales from 16px (text-base) at 800px to 18px (text-lg) at 1000px viewport width */
    font-size: clamp(var(--text-base), 1vw + 0.5rem, var(--text-lg));

    display: grid;
    grid-template-columns:
      1fr
      min(var(--prose-width), 100%)
      1fr;

    & > * {
      grid-column: 2;
    }

    & > * + * {
      margin-top: theme(spacing.8);
    }

    & > * + h2 {
      margin-top: theme(spacing.12);
    }
    & > * + h3 {
      margin-top: theme(spacing.10);
    }

    & h2 + *,
    & h3 + * {
      margin-top: theme(spacing.3);
    }

    & h4 + *,
    & h5 + * {
      margin-top: theme(spacing.2);
    }

    /* Breakout elements */
    & > img,
    & > figure:has(img),
    & > [data-breakout] {
      grid-column: 1 / -1;
      margin-inline: auto;
    }
    & > [data-breakout] {
      width: 100%;
    }

    /* Lists */
    & ul {
      list-style: none;
      padding-left: 0;

      & li::before {
        content: '-';
        color: var(--color-black-400);
        font-size: 1.25em;
        display: inline-flex;
        margin-right: 6px;
        align-items: center;
      }
    }

    & ol {
      list-style: none;
      padding-left: 0;
      counter-reset: item;

      & li::before {
        content: counter(item) '.';
        counter-increment: item;
        color: var(--color-black-400);
        display: inline-block;
        width: 1.5em;
        margin-right: 2px;
      }
    }

    & li {
      margin-top: theme(spacing.1);
    }

    & li > p {
      margin-top: 0;
    }
  }
}
