@layer components {
  .shiki:not(.not-fumadocs-codeblock *) {
    --padding-left: calc(var(--spacing) * 4);
    --padding-right: calc(var(--spacing) * 4);

    code span {
      color: var(--shiki-light);
    }
  }

  :is(pre *):is(.shiki *):not(.not-fumadocs-codeblock *) {
    .line& {
      position: relative;
      min-height: 1lh;
      padding-left: var(--padding-left);
      padding-right: var(--padding-right);
    }

    .has-focused .line&:not(.focused) {
      filter: blur(2px);
      transition: filter 200ms;
    }

    .has-focused:hover .line&:not(.focused) {
      filter: blur(0);
    }

    [data-line-numbers] .twoslash-meta-line& {
      padding-left: calc(var(--padding-left) + 7 * var(--spacing));
    }

    [data-line-numbers] .line& {
      counter-increment: line;
      padding-left: calc(var(--padding-left) + 7 * var(--spacing));
    }

    [data-line-numbers] .line&::after {
      position: absolute;
      content: counter(line);
      color: color-mix(
        in oklab,
        var(--fd-counter-color, var(--color-fd-muted-foreground)) 60%,
        transparent
      );
      left: 1rem;
      top: 0;
    }

    .diff&::before {
      position: absolute;
      left: calc(var(--spacing) * 1.5);
    }

    .diff.remove& {
      opacity: 0.7;
      --fd-counter-color: var(--color-fd-diff-remove-symbol);
      background-color: var(--color-fd-diff-remove);
    }

    .diff.remove&::before {
      content: '-';
      color: var(--color-fd-diff-remove-symbol);
    }

    .diff.add& {
      --fd-counter-color: var(--color-fd-diff-add-symbol);
      background-color: var(--color-fd-diff-add);
    }

    .diff.add&::before {
      content: '+';
      color: var(--color-fd-diff-add-symbol);
    }

    .highlighted& {
      --fd-counter-color: var(--color-fd-primary);
      padding-left: calc(var(--padding-left) - 2px);
      border-left: 2px solid
        color-mix(in srgb, var(--color-fd-primary) 50%, transparent);
      background-color: color-mix(
        in srgb,
        var(--color-fd-primary) 10%,
        transparent
      );
    }

    .highlighted-word& {
      padding: 1px;
      border: 1px solid
        color-mix(in srgb, var(--color-fd-primary) 30%, transparent);
      background-color: color-mix(
        in srgb,
        var(--color-fd-primary) 10%,
        transparent
      );
      margin: -1px;
      border-radius: 0.375rem;
      font-weight: 500;
    }
  }
}
