@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@import './theme.css';

/* ::selection,
::-moz-selection {
  background-color: oklch(0.9 0.1 90 / 0.5);
} */

/*------------------*/
/*    Mini Reset    */
/*------------------*/

* {
  min-width: 0;
  text-box: trim-both cap alphabetic;
}

:root {
  interpolate-size: allow-keywords;
}

html {
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    --tw-animate: none !important;
    transition: none !important;
    animation: none !important;
  }
}
