@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@import './theme.css';
@import './utils.css';

@import './prose.css';
@import './panel.css';

/* For <CodeBlock> customization. */
@import './shiki.css';
@source '../../node_modules/fumadocs-ui/dist/components/codeblock.js';

::selection,
::-moz-selection {
  background-color: oklch(0.9 0.1 90 / 0.5);
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    --tw-animate: none !important;
    transition: none !important;
    animation: none !important;
  }
}
