@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@import './theme.css';
@import './utilities.css';

@import './prose.css';
@import './panel.css';

/* For <CodeBlock> customization. */
@import './shiki.css';
@source '../../node_modules/fumadocs-ui/dist/components/codeblock.js';

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    --tw-animate: none !important;
    transition: none !important;
    animation: none !important;
  }
}
