@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@import './theme.css';
@import './panel.css';
@import './prose.css';
@import './utilities.css';

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    --tw-animate: none !important;
    transition: none !important;
    animation: none !important;
  }
}
