@theme {
  --color-mist-50: oklch(0.975 0.005 233);
  --color-mist-100: oklch(0.94 0.01 233);
  --color-mist-200: oklch(0.86 0.02 233);
  --color-mist-300: oklch(0.74 0.03 238);
  --color-mist-400: oklch(0.6 0.04 250);
  --color-mist-500: oklch(0.48 0.05 260);
  --color-mist-600: oklch(0.38 0.04 264);
  --color-mist-700: oklch(0.31 0.03 265);
  --color-mist-800: oklch(0.25 0.02 266);
  --color-mist-900: oklch(0.19 0.02 268);
  --color-mist-950: oklch(0.12 0.01 270);

  --color-background: var(--color-mist-900);
  --color-foreground: var(--color-mist-200);

  --spacing-content: min(75ch, 100%);
}
