@utility ui-focus {
  @apply outline-2 outline-solid outline-mist-300/80 outline-offset-2;
}

@utility ui-panel {
  @apply relative overflow-hidden;
  @apply rounded-2xl border border-transparent;
  @apply inset-shadow-[0_1px_0_0_oklch(1_0_0/0.1)];
  @apply backdrop-blur-2xl backdrop-saturate-150;

  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  background-image:
    linear-gradient(
      135deg,
      oklch(from var(--color-mist-800) l c h / 0.4),
      oklch(from var(--color-mist-900) l c h / 0.3)
    ),
    linear-gradient(135deg, oklch(1 0 0 / 0.15), oklch(1 0 0 / 0.05));
}
