@utility ui-panel {
  @apply relative overflow-hidden;
  @apply rounded-2xl border border-transparent;
  @apply inset-shadow-[0_1px_0_0_oklch(0_0_0/0.2)];
  @apply backdrop-blur-xl;

  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  background-image:
    linear-gradient(
      135deg,
      oklch(from var(--color-background) l c h / 0.5),
      oklch(from var(--color-background) l c h / 0.5)
    ),
    linear-gradient(135deg, oklch(1 0 0 / 0.5), oklch(1 0 0 / 0.1));
}
