@utility focus-ring {
  @apply ring-blueberry-500 ring-offset-oatmeal-50 ring-[3px] ring-offset-2;
}

@utility typescale-* {
  font-size: calc(1rem * pow(var(--typescale), --value(integer)));
}

@utility shrink-scale-* {
  --shrink-scale: calc(--value(integer) * 1%);
}

@utility scroll-trigger {
  animation-timeline: scroll();
  animation-range: var(--scroll-trigger-from, 0) var(--scroll-trigger-to, 100%);
}

@utility scroll-trigger-from-* {
  --scroll-trigger-from: calc(--value(integer) * 4px);
}

@utility scroll-trigger-to-* {
  --scroll-trigger-to: calc(--value(integer) * 4px);
}
