/* Focus ring utility for consistent focus styles. */
@utility focus-ring {
  @apply ring-blueberry-500 ring-offset-oatmeal-50 ring-[3px] ring-offset-2;
}

/* Utility to ensure a minimum hitbox for interactive elements. */
@utility ensure-hitbox {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* 24x24px is WCAG 2.1, to support 2.2 this would need to be 44x44px */
    min-height: 24px;
    min-width: 24px;
    z-index: 9999;
  }
}

/* Typescale utility for responsive font sizing based on CSS variables. */
@utility typescale-* {
  /* Pow only works with numbers, so no clamp. */
  --typescale: var(--min-typescale);
  @media (width >= 768px) {
    --typescale: var(--max-typescale);
  }

  font-size: calc(1rem * pow(var(--typescale), --value(integer)));
}

/* Scales from 16px (text-base) at 800px to 18px (text-lg) at 1000px viewport width */
@utility text-prose {
  font-size: clamp(var(--text-base), 1vw + 0.5rem, var(--text-lg));
}

/* Utility to fit prose content within a max width container. */
@utility fit-prose {
  @apply text-prose;
  margin-inline: auto;
  width: min(var(--prose-width), 100%);
}

/* Change font weight on hover without reflow. */
@utility weight-on-hover-* {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: attr(data-text);
    content: attr(data-text) / ''; /* Hide from screen readers */
    font-weight: --value(--font-weight- *);
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &:hover {
    font-weight: --value(--font-weight- *);
  }
}

/* Shrink scale utility use with shrink animation. */
@utility shrink-scale-* {
  --shrink-scale: calc(--value(integer) * 1%);
}

/* Scroll-triggered animation utility */
@utility scroll-trigger {
  animation-timeline: scroll();
  animation-range: var(--scroll-trigger-from, 0) var(--scroll-trigger-to, 100%);
}
@utility scroll-trigger-from-* {
  --scroll-trigger-from: calc(--value(integer) * 4px);
}
@utility scroll-trigger-to-* {
  --scroll-trigger-to: calc(--value(integer) * 4px);
}
